.card {
    color: #222222;
    background-color: lightgray;
    width: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    
    border: 8px solid #222222;
    border-radius: 30px;
    padding: 20px;

}

button {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 9999px;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 36px;
    border: 1px solid #cfd9de;
    border-color: rgb(207, 217, 222);
    background-color: rgba(0, 0, 0, 0);
    font-family: helvetica;
    cursor: pointer;
    font-weight: bold;
}